.bento-box{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card{
    position: relative;
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.card h1{
    position: absolute;
    top: 40%;
    left: 3%;
    font-size: 5em;
    color: var(--text_color_1);
    font-family: Lovan;
    font-weight: lighter;
    z-index: 2;
}
.card .imgBox p{
    position: absolute;
    top: 65%;
    left: 35%;
    width: 40%;
    color: var(--text_color_1);
    font-weight: 100;
    z-index: 2;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(120deg, rgba(224, 141, 159, 0.2), rgba(250, 250, 242, 0.2));
    padding: 15px 0;
}
.card .imgBox{
    position: relative;
    width: 100%;
    height: 310px;
    background-color: var(--box_background);
    border-radius: 15px;
}
.imgBox img{
    position: absolute;
    top: 5%;
    left: 70%;
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 15%;
}
.card .imgBox::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 34%;
    width: 20px;
    height: 20px;
    background:transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0px white;
}
.card .imgBox::after{
    content: '';
    position: absolute;
    bottom: 60px;
    left: 0%;
    width: 20px;
    height: 20px;
    background:transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0px white;
}
.card .content{
    position: relative;
    width: 68%;
    height: 150px;
    background-color: var(--box_background);
    border-radius: 15px;
    border-top-left-radius: 0px;
}
.card .content .title{
    position: absolute;
    height: 70px;
    width: 50%;
    top: -70px;
    background-color: var(--box_background);
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-top-right-radius: 25px;
}
.card .content .title::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: -10px -10px 0px white;
}
.card .content .title::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0px #e08d9f;
}
.card .content .title a{
    position: relative;
    background: var(--background_color);
    color: var(--text_color_2);
    padding: 10px 20px;
    margin: 15px ;
    text-align: center;
    display: block;
    border-radius: 7px;
    text-decoration: none;
    font-family: Callingstone;
    font-weight: bold;
    cursor: pointer;
}
.card .content .title a:hover{
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.454);
}
.content-p-2{
    display: none;
}
.content p {
    text-align: center;
}
.content-p{
    padding: 10px 5px 5px 5px;
    width: 90%;
    margin: auto;
}
.card .box-3{
    position: relative;
    width: 31%;
    height: 150px;
    background-color: var(--box_background);
    border-radius: 15px;
    left: 69%;
    top: -160px;    
}
.box-3{
    background-image: url(../assets/images/cake-vanille-fraise2.webp);
    background-size: cover;
    background-position: center;
}



@media (min-width: 1370px){
    .card .imgBox::before{
        left: 34.5%;
    }
}
@media (max-width: 950px){
    .card .content .title a{
        font-size: small;
    }
    .imgBox img{
        top: 25%;
        left: 60%;
        width: 180px;
        height: 180px;
    }
    .card h1{
        top: 40%;
        width: 70%;
        font-size: 3.7em;
    }
    .card .imgBox p{
        top: 65%;
        left: 37%;
        width: 40%;
        padding: 10px 5px;
    }
    .content p {
    padding: 5px ;
    width: 90%;
    }
}
@media (max-width: 770px){
    .card .content .title a{
        left: 0%;
    }
    .card .imgBox p{
        top: 60%;
    }
}
@media (max-width: 570px){
    .card .content .title a{
        left: -2%;
        width: 80%;
        padding: 5px ;
    }
    .imgBox img{
        top: 25%;
        left: 55%;
        width: 170px;
        height: 170px;
    }
    .card h1{
        top: 35%;
    }
    .card .imgBox p{
        top: 70%;
        left: 36%;
        width: 60%;
        padding: 10px 5px;
    }
    .content p{
        width: 95%;
        height: auto;
        margin: auto;
        overflow: hidden;
    }
}
@media (max-width: 440px){

    .imgBox img{
        top: 30%;
        left: 50%;
        width: 160px;
        height: 160px;
    }
    .card h1{
        top: 25%;
        font-size: 3em;
    }
    .card .imgBox p{
        top: 60%;
        left: 38%;
        width: 58%;
        padding: 5px;
    }
    .content-p{
        display: none !important;;
    }
    .content-p-2{
        display: block;
        transform: translateY(110%);
    }
    .card .content .title a{
        left: 20%;  
        top: 100%; 
        width: 150%;
        z-index: 2;
        padding: 10px;
    }
}

@media (max-width: 350px){
    .card .imgBox p{
        top: 54%;
        left: 37%;
    }
    .imgBox img{
        top: 25%;
        width: 140px;
        height: 140px;
    }
    .card h1{
        top: 27%;
        font-size: 2.5em;
    }
    .card .content .title a{ 
        padding: 5px;
    }
    .content-p-2{
        transform: translateY(70%);
    }
}