.classique-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    color: var(--text_color_2);
}

.classique-page h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}
.classique-page ul {
    list-style-type: none;
    padding: 0;
}
.classique-page ul li {
    margin: 10px 0;
}