
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body{
	padding: 5px;
	color: var(--text_color_1);
}
@font-face {
	font-family: 'Lovan';
	src: url('../src/assets/fonts/Lovan.ttf') format('truetype');
}
:root{
	--text_color_1: #f8e7ed;
	--box_background: #e08d9f;
	--background_color: rgb(248, 231, 237);
	--text_color_2: #e08d9f;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h2,h3,h4{
    font-family: Lovan;
	font-weight: lighter;
}
img {
	height: 100%;
	width: 100%;
}